In [1]:
#adds new column to CSV files that generates a list of keywords based off of job descriptions from original CSV"

#pulls from seperate CSV with keywords and variants of those keywords ("multitasking" would have "multi-tasking" and "multi-task" as variants)"

#e.g. job description containing "needs to be able to multi-task" would generate "multitasking" as a keyword in new column"

#seperator: ||

In [ ]:
import pandas as pd

In [17]:
#reads CSV files using pandas to allow viewing/editing
d = pd.read_csv("combinedDescriptions.csv")
v = pd.read_csv("variants.csv")

In [ ]:
#drops column by index if needed, inplace saves it for further use (remove if just to view data and not edit)
#d.drop(d.columns[0], axis=1, inplace=True)

#drops row by index
#d.drop([2], inplace=True)

#replaces entire column with uniform value (ig. empty space), creates new column if not existing
#d['skills'] = ""

#saves edits to CSV -- important!
v.to_csv('variants.csv')

In [53]:
#creates variable to keep track of row indices in csv to be edited
dIterate = 0

#loops thorough each value of specific column in targeted CSV
for desc in d['description']:
    
    #breaks after max number of rows in CSV so out-of-bounds error doesn't occur
    if dIterate == 13560:
        break
        
    #creates variable to keep track of row indices in csv to be read
    vIterate=0
    
    #loops through each value of specific column in second CSV
    for var in v['variant']:
        
        #determines if string in second CSV is within the string in first CSV; if true, returns index of found value, -1 if false
        if str(desc).find(str(var))>-1:
            
            #accounts for potential repeats in tagging if multiple variants of same skill found
            if str(d.iat[dIterate,7]).find(str(v.iat[vIterate,1])) <0:
                
                #edits the value in newly created column with each new skill, "||" as seperator
                #function df.iat[row, column] allows for editing of original CSV; regular assignments like df[col][row] = value are shallow
                d.iat[dIterate,7] = str(d.iat[dIterate,7]) + "||" + str(v.iat[vIterate,1])
        
        vIterate = vIterate +1
    dIterate = dIterate+1

In [57]:
#double check to see if successful--if not, clear the column using the drop function above and revise

#shows the first 10 rows
d.head(10)

#shows the last 10 rows
d.tail(10)

,taxonomyName,category,variant_name,jobID,taxonomyID,variant_id,description,skills
13550,Wine Sales,5,Wine Sales,71365,10,10,wino(t) is looking for a new sales associate j...,||collaborative||customer service||energetic||...
13551,Purchase Manager,4,Purchasing Manager,71410,49,5425,Shortly after the original Sant Ambroeus opene...,||collaborative||conflict resolution||customer...
13552,Fishmonger,1,Fish Filleter Fish Butchery,71954,69,63051,We are seeking experienced FT/PT Fish Filleter...,||detail-oriented||grilling||outgoing||seafood...
13553,Grill Cook,1,Wood Grill Cook,71955,150,63052,We are seeking experienced FT/PT Wood Grill Co...,||customer service||grilling||outgoing||seafoo...
13554,Accountant,4,Staff Accountant,72294,186,662,The Mina Group is growing and looking for a St...,||collaborative||customer service||energetic||...
13555,Marketing Assistant,4,Marketing Assistant,72420,112,112,"Tortoise Supper Club is a small, privately own...",||collaborative||customer service||knife handl...
13556,Bellstand Attendant,20,Concierge,72430,157,811,Bulgari Copration of America is searching for ...,||collaborative||customer service||energetic||...
13557,Room Service Attendant,20,Room Service Servers and Overnight Servers,72726,165,63409,Passionate Hospitality Professionals!!! We are...,||collaborative||experienced in fast-paced set...
13558,Room Service Attendant,20,Room Service Server,72857,165,695,We are looking for associates to join our team...,||ability to multi-task||arithmetic skills||co...
13559,Saucier,1,Saucier,72935,177,957,This position is true to the name: Saucier. Be...,||ability to multi-task||ability to stand/walk...

In [ ]:
#always save work!
d.to_csv('combinedDescriptions.csv')